<div id="root">
    <div id="navbar" class="rspacer">
        <button id="nav_tab_translate" onclick="_wuiEvent('select_view', ['translate'])">
            Translate
        </button>
        <button id="nav_tab_screen_capture" onclick="_wuiEvent('select_view', ['screen_capture'])">
            Screen capture
        </button>
    </div>

    <div class="tab_view" id="view_translate"></div>
    <div class="tab_view" id="view_screen_capture"></div>

    <div id="bg_process_info"></div>
</div>